<div class="voteBeer">

  <div class="selectBeer">
    <p>
      Bier Nr. <span class="beer-number">{{result.number}}</span>
    </p>

    <!-- Selection of beers -->
    <select [(ngModel)]="result.beerId" (change)="onResultChanged()">
      <option *ngFor="let b of beers" [value]="b.id">{{b.id}}</option>
    </select>
  </div>

  <!-- Tastyness -->
  <div>
    <p class="voteTaste">Geschmack: <span *ngIf="result.vote"> ({{result.vote}})</span></p>
    <mat-slider min="0" max="10" [(ngModel)]="result.vote" (change)="onResultChanged()"></mat-slider>
  </div>

</div>

<!-- Beer Image -->
<img *ngIf="getBeerImageUrl()" [src]="getBeerImageUrl()">
<p>{{getBeerDescription()}}</p>