<div class="voteBeer">

  <div class="selectBeer">
    <p>
      Bier Nr. <span class="beer-number">{{result.number}}</span>
    </p>

    <select [(ngModel)]="result.beerId">
      <option *ngFor="let b of beers" [value]="b.id">{{b.id}}</option>
    </select>
  </div>

  <div>
    <p class="voteTaste">Geschmack: <span *ngIf="result.vote"> ({{result.vote}})</span></p>
    <mat-slider min="0" max="10" [(ngModel)]="result.vote"></mat-slider>
    <!-- <input class="vote" type="number" min="1" max="10" [(ngModel)]="result.vote"> -->
  </div>

</div>