<h3 *ngIf="!isStarted">
  Bierverkostung starten
</h3>

<p *ngIf="!isStarted">Um die Bierverkostung zu starten bitte folgenden Knopf drücken:</p>

<button (click)="onStart()" *ngIf="!isBusy && !isStarted">Starten</button>


<div *ngIf="isStarted">
  <h3>Die Bierverkostung ist gestarted!</h3>

  <p id="wichtig"> <strong>Wichtig!</strong> </p>


  <div>
    <p>Folgenden Link an deine Teilnehmer schicken:</p>
    <textarea #participentArea>{{participentLink}}</textarea>
    <button (click)="onCopyToClipboard(participentArea)">In Zwischenablage kopieren</button>
  </div>

  <div>
      <p>Unter folgendem Link kannst du die Verkostung auflösen und abschließen:</p>
      <textarea #resolveArea>{{resolveLink}}</textarea>
      <button (click)="onCopyToClipboard(resolveArea)">In Zwischenablage kopieren</button>
    </div>
</div>